#myCanvas{
	border-style: solid;
	border-color: rgb(0,0,0);

}

#ground{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

#sizebar{
	width: 100;
	display: inline-block;
}

#well{
	width: 855;
	background-color: white;
	border-color: white;
}

#innerwell{
	width: 250;
	height: 10px;
	margin: 5px;
	background-color: white;
}

#typo{
	width: 110;
	display: inline-block;
	position: fixed;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

label{
    margin: 5;
}

.marginer{
    margin: 5;
}

#modalBodyLoad ol{
    overflow-y: auto;
    height: 100px;
}

